<script src="https://cookiehub.net/cc/27ed65dd.js"></script>

<script>
  function deleteAllCookies() {
    var cookies = document.cookie.split(";");

    for (var i = 0; i < cookies.length; i++) {
      var cookie = cookies[i];
      var eqPos = cookie.indexOf("=");
      var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
      document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }
  }

  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  var init = false;

  window.addEventListener("load", function () {
    window.cookieconsent.initialise({
      onInitialise: function (status) {
        if (this.hasConsented('analytics') && !init) {
          console.log('init');
          init = true;
          ga('create', 'UA-116037913-1', 'auto');
          ga('send', 'pageview');
        }
      },
      onAllow: function (category) {
        if (category == 'analytics' && !init) {
          console.log('allow')
          init = true;
          ga('create', 'UA-116037913-1', 'auto');
          ga('send', 'pageview');
        }
      },
      onRevoke: function (category) {
        if (category == 'analytics') {
          console.log('revoke')
          deleteAllCookies();
          init = false;
        }
      }
    })
  });
</script>

<!-- Google Analytics -->
<script>



</script>
<!-- End Google Analytics -->