.color-social-instagram {
    color: #c13584;
    background-color: #eeeeee;
}
.color-social-linkedin-square {
    color: #0077b5;
    background-color: #eeeeee;
}
.color-social-twitter {
    color: #1da1f2;
    background-color: #eeeeee;
}
.color-social-github {
    color: #4078c0;
    background-color: #eeeeee;
}